@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
}

@keyframes tilt {
  0%,
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(2deg);
  }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}

.animate-tilt {
  animation: tilt 3s ease-in-out infinite;
}

@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.animate-spin-slow {
  animation: spin-slow 20s linear infinite;
}

@keyframes spin-reverse-slow {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.animate-spin-reverse-slow {
  animation: spin-reverse-slow 25s linear infinite;
}
